
.box {
    display: inline-block; 
    width: 150px;
    height: 400px;
    min-width: auto;
    border: black;
    background-color: wheat;
    padding: 20px;
    margin: 15px;
    text-align: center; 
    vertical-align: top;
    border-radius: 5px;
    transition: 0.3s; 
}
