.laptop{
    text-align: center;
    background-color: bisque;
    border: 100px;
    padding: 40px 200px 40px 200px;
    margin:100px ;
}
.headphones{
    text-align: center;
    background-color: bisque;
    border: 100px;
    padding: 40px 200px 40px 200px;
    margin:100px ;
}
.smartwatch{
    text-align: center;
    background-color: bisque;
    border: 100px;
    padding: 40px 200px 40px 200px;
    margin:100px ;
}